<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="headerLogoBox">
                <img id="previewLogo" alt="PREVIEW-Logo" width="150px" /> 
            </div>
            <div class="headerCenterPanel">
                Travel Planner
            </div>
        </header>

        <main>
            <section class="outputBox">
                <form id="planningForm">
                    <div id="inputForm_location">
                        <label for="location">Trip to (*):</label><br>
                        <input type="text" placeholder="Enter Location ..." id="location">
                    </div>
                    <!-- <div id="mapView">
                        <div id="checkboxContainer">
                            <input type="checkbox" id="mapViewCheckbox" />
                        </div>
                        <div id="checkboxLabel">
                            Select location on map
                        </div>
                    </div>
                    <div id="mapInput"></div> -->
                    <div id="inputForm_date_from">
                        <label for="date_from">Planned Arrival (*):</label><br>
                        <input type="text" placeholder="YYYY-MM-DD" id="date_from">
                    </div>
                    <div id="inputForm_date_to">
                        <label for="date_to">Planned Departure:</label><br>
                        <input type="text" placeholder="YYYY-MM-DD" id="date_to">
                    </div>
                    <input type="submit" name="" value="Save trip" id="inputForm_submit">
                </form>
                <span class="formHints">(*) valid input required</span>
                <div id="errorBox"></div>
            </section>

            <div id="tripOverviewHeader">
                Latest 5 Trip Plannings
            </div>

            <section id="savedTrips" class="outBox">
            </section>

            <!-- https://pixabay.com/get/g4a3e6c3228a7d3b871db8142472c99d85be2367ac5c42098f2f56f12040999796170173ffba71faa1230c96d77b108aade8ff4f9f0313e3fc12f8955d2e160f3_640.jpg -->

        </main>

        <!-- comment out script-block if IE11 compatibilty is required -->
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->

    </body>
</html>
