.formHints {
    font-weight: bold;
    font-size: 0.8em;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#inputForm_date_from {
    display: inline-block;
    width: 49.5%;
}

#inputForm_date_to {
    display: inline-block;
    width: 49.5%;
}

@media screen and (max-width: 550px) {
    #inputForm_date_from {
        display: block;
        width: 100%;
    }

    #inputForm_date_to {
        display: block;
        width: 100%;
    }
}

#inputForm_submit {
    border-radius: 8px;
    font-weight: bold;
    background-color: #fff;
    width: 200px;
}

label {
    font-weight: bold;
}

.errorBorder {
    border: 2px solid red;
}

#mapView {
    display: flex;
}

#checkboxContainer {
    flex: 40px;
}

#checkboxLabel {
    display: flex;
    flex: calc(100% - 50px);
    align-items: center;
}

.mapViewToggle {
    height: 400px;
    width: 100%;
}