.outBox {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 10px 40px;
}

.formHints {
    font-weight: bold;
    font-size: 0.8em;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.outputBox {
    padding: 10px 40px;
    background-color: #eee;
    border: 1px solid black;
}

#inputForm_date_from {
    display: inline-block;
    width: 49.5%;
}

#inputForm_date_to {
    display: inline-block;
    width: 49.5%;
}

@media screen and (max-width: 550px) {
    #inputForm_date_from {
        display: block;
        width: 100%;
    }

    #inputForm_date_to {
        display: block;
        width: 100%;
    }
}

#inputForm_submit {
    border-radius: 8px;
    font-weight: bold;
    background-color: #fff;
    width: 200px;
}

label {
    font-weight: bold;
}

.errorBorder {
    border: 2px solid red;
}